{% set this_page = "page not found" %}
{% extends "layout.html.j2" %}

{% block title %}Stránka nebyla nalezena | MeshInfo{% endblock %}

{% block content %}
<div class="container pt-3">
<h5>404 - Překročen počet hopů</h5>
</div>
{% endblock %}