{% extends "layout.html.j2" %}
{% block content %}
<style>
#log-fullscreen {
  position: fixed;
  top: 56px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 56px);
  background: #222;
  color: #eee;
  margin: 0;
  padding: 0.5em 0.5em 0.5em 0.5em;
  overflow-x: auto;
  overflow-y: auto;
  white-space: pre-wrap;
  font-family: monospace;
}
</style>
<pre id="log-fullscreen">{{ log|e }}
</pre>
{% endblock %}
