{% set this_page = "graph" %}
{% extends "layout.html.j2" %}

{% block title %}Graf Sítě | MeshInfo{% endblock %}
{% block content %}
  <div class="container pt-3">
  <h5>Graf Sítě</h5>
  </div>
  <div class="w-full h-full" id="container" style="height: 100vh;">
  </div>
  <script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-core.min.js"></script>
  <script src="https://cdn.anychart.com/releases/8.13.0/js/anychart-graph.min.js"></script>
  <script>
    var data = {{ graph|tojson|safe }};
    {% raw %}
    var chart = anychart.graph(data);
    chart.container("container");
    chart.nodes().labels().enabled(true);
    chart.nodes().labels().format("{%short}");
    chart.nodes().labels().fontSize(12);
    chart.nodes().labels().fontWeight(600);
    chart.tooltip().useHtml(true);
    chart.tooltip().format(function() {
      if (this.type == "node") {
        return this.id + "<br>" + this.getData("name") +
              "<br><br>Sousedé: " + this.siblings.length;
      } else {
        return this.getData("from") + " -> " + this.getData("to");
      }
    });
    chart.draw();
    chart.fit();

    {% endraw %}
  </script>
{% endblock %}
