{% set this_page = "#MeshPondeli" %}
{% extends "layout.html.j2" %}

{% block title %}{{ this_page }}{% endblock %}

{% block content %}
<div class="container pt-3">
<h5>{{ this_page }}</h5>
<div class="p-2 mb-3" style="background-color: #C3E0DC;">
  <p><span style="font-weight: bold;">#MeshPondeli</span> je týdenní akce k zvýšení aktivity v meshtastic síti</p>

  <p>Pro zůčastnění, se ujistěte že máte povoleno "OK to MQTT" v nastavení Vašeho zařízeni, poté jednoduše na výchozím kanálu MediumFast odešlete zprávu obsahující <span
          style="font-weight: bold;">#MeshPondeli</span> hashtag.</p>
  <div>
      Například:
      <div style="padding: 5px; background: #f2f2f2; font-style: italic;">Vesele #MeshPondeli!</div>
  </div>
</div>
<h5>Poslední Logy</h5>
<div class="table-responsive">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Čas</th>
        <th scope="col">Od</th>
        <th scope="col" style="word-wrap: break-word;min-width: 400px;">Zpráva</th>
      </tr>
    </thead>
    <tbody>
      {% set ns = namespace(day="", first=true) %}
      {% for message in monday.messages %}
      {% if ns.day != message.monday %}
      <tr><th scope="col" colspan="4" style="background:#B5EAD7 !important; text-align: left">{{ message.monday }}</th></tr>
      {% if ns.day %}
      {% set ns.first = false %}
      {% endif %}
      {% set ns.day = message.monday %}
      {% endif %}
      <tr>
        <td>{{ datetime.fromtimestamp(message.ts_created).strftime('%H:%M:%S') }}</td>
        {% if message["from"] in nodes %}
        <td>
          <a href="node_{{ message['from'] }}.html">{{ nodes[message["from"]].long_name+" (" + nodes[message["from"]].short_name + ")" }}</a><br>
          <span style="font-size: 10px">Total Check-Ins: {{ monday.nodes[message['from']]['check_ins'] }}</span>
          {% if ns.first %}
            {% if monday.nodes[message['from']]['streak'] %}
              <br><span style="font-size: 10px">🏃 {{ monday.nodes[message['from']]['streak'] + 1}} week streak</span>
            {% endif %}
          {% endif %}
        </td>
        {% else %}
        <td>{{ message["from"] }}</td>
        {% endif %}
        <td style="word-break: break-word;">{{ message["text"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}