{% set this_page = "neighbors" %}
{% extends "layout.html.j2" %}

{% block title %}Sousedé | MeshInfo{% endblock %}

{% block content %}
<div class="container pt-3">
  <h5>Sousedé</h5>
  <p>
    Je aktivních <b>{{ active_nodes_with_neighbors|count }}</b> uzlů které reportují sousedy.
  </p>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col" colspan="2">Název</th>
          <th scope="col" colspan="3">Sousedé</th>
          <th scope="col" colspan="2">Slyšen</th>
        </tr>
        <tr>
          <th scope="col"></th>
          <th scope="col">Zkratka</th>
          <th scope="col">Název</th>
          <th scope="col">Slyší</th>
          <th scope="col">Slyší ho</th>
          <th scope="col">Aktualizace Dat</th>
          <th scope="col">Před</th>
        </tr>
      </thead>
      <tbody>
        {% for id, node in active_nodes_with_neighbors.items() %}
        <tr>
          <td class="p-0" style="width:50px;">
            {% if id %}
            {% set id = id|replace('!', '') %}
            <a href='node_{{ id }}.html'>
              <img src="https://mesh.aperturelab.cz/9.x/bottts-neutral/svg?seed={{ id }}" alt="Avatar"
                style="height: 50px; width: 50px;">
            </a>
            {% else %}
            <img src="https://mesh.aperturelab.cz/9.x/bottts-neutral/svg?seed={{ id }}" alt="Avatar"
              class="w-16 h-16 mb-1 object-cover">
            {{ id }}
            {% endif %}
          </td>
          <td style="color: #{{ '777' if node.short_name == 'UNK' else '000' }}">
            {% if id %}
            <a href='node_{{ id }}.html'>{{ node.short_name }}</a>
            {% else %}
            <span class="text-gray-500">{{ node.short_name }}</span>
            {% endif %}
          </td>
          <td style="color: #{{ '777' if node.short_name == 'UNK' else '000' }}">
            {{ node.long_name }}
          </td>
          {% if node.neighbors %}
          <td style="width: 210px">
              {% for neighbor in node.neighbors %}
              {% set nid = utils.convert_node_id_from_int_to_hex(neighbor.neighbor_id) %}
              <div style="white-space: nowrap; display: flex;">
                  <span style="flex: 0 0 auto; min-width: 50px; text-align: left;">
                      {% if nid in nodes %}
                      <a href="node_{{ nid }}.html">{{ nodes[nid].short_name }}</a>
                      {% else %}
                      <span class="text-secondary">???</span>
                      {% endif %}
                  </span>
                  <span style="flex: 0 0 auto; min-width: 80px; text-align: left; color:
                      {% if neighbor.snr is not none and neighbor.snr > 0 %}
                          green;
                      {% elif neighbor.snr is not none and neighbor.snr > -8 %}
                          orange;
                      {% elif neighbor.snr is none %}
                          gray;  {# pro případ, že je snr None #}
                      {% else %}
                          red;
                      {% endif %}
                  ">
                      SNR: {{ neighbor.snr }}
                  </span>
                  <span style="flex: 0 0 auto; min-width: 60px; text-align: right;">
                      {% if neighbor.distance %}
                      {{ neighbor.distance }} km
                      {% else %}
                      &nbsp;
                      {% endif %}
                  </span>
              </div>
              {% endfor %}
          </td>
          <td style="width: 210px">
              {% for nid, nnode in nodes.items() %}
              {% if nnode.neighbors %}
              {% for neighbor in nnode.neighbors %}
              {% if utils.convert_node_id_from_int_to_hex(neighbor.neighbor_id) == id %}
              <div style="white-space: nowrap; display: flex;">
                  <span style="flex: 0 0 auto; min-width: 50px; text-align: left;">
                      {% if nid in nodes %}
                      <a href="node_{{ nid }}.html">{{ nodes[nid].short_name }}</a>
                      {% else %}
                      <span class="text-secondary">???</span>
                      {% endif %}
                  </span>
                  <span style="flex: 0 0 auto; min-width: 80px; text-align: left; color:
                      {% if neighbor.snr is not none and neighbor.snr > 0 %}
                          green;
                      {% elif neighbor.snr is not none and neighbor.snr > -8 %}
                          orange;
                      {% elif neighbor.snr is none %}
                          gray;  {# pro případ, že je snr None #}
                      {% else %}
                          red;
                      {% endif %}
                  ">
                      SNR: {{ neighbor.snr }}
                  </span>
                  <span style="flex: 0 0 auto; min-width: 60px; text-align: right;">
                      {% set dist = utils.calculate_distance_between_nodes(nodes[nid], nodes[id]) %}
                      {% if dist %}
                      {{ dist }} km
                      {% else %}
                      &nbsp;
                      {% endif %}
                  </span>
              </div>
              {% endif %}
              {% endfor %}
              {% endif %}
              {% endfor %}
          </td>
          {% else %}
          <td></td>
          {% endif %}
          <td>
            {% if node.neighbors %}
              <div style="white-space: nowrap; display: flex;">
                Před: {{ utils.time_since(node.neighbors[0].ts_created) }}<br>
                {{ datetime.fromtimestamp(node.neighbors[0].ts_created).strftime("%d-%m-%Y %H:%M:%S") }}
              </div>
            {% endif %}
          </td>
          <td>{{ node.last_seen }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <br>
</div>
{% endblock %}