<style>
  .position-relative {
    position: relative;
  }

  .role-triangle {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 0;
    z-index: 1;
  }

  .role-triangle[data-role="0"] {
    border-color: transparent #17e017 transparent transparent; /* Client */
  }
  .role-triangle[data-role="1"] {
    border-color: transparent #54834b transparent transparent; /* Client Mute */
  }
  .role-triangle[data-role="2"] {
    border-color: transparent #30649b transparent transparent; /* Router */
  }
  .role-triangle[data-role="3"] {
    border-color: transparent #1ccaca transparent transparent; /* Router Client */
  }
  .role-triangle[data-role="4"] {
    border-color: transparent #dfe211 transparent transparent; /* Repeater */
  }
  .role-triangle[data-role="5"] {
    border-color: transparent #7a7a7a transparent transparent; /* Tracker */
  }
  .role-triangle[data-role="6"] {
    border-color: transparent #df3ec9 transparent transparent; /* Sensor */
  }
  .role-triangle[data-role="7"] {
    border-color: transparent #fd7e14 transparent transparent; /* ATAK */
  }
  .role-triangle[data-role="8"] {
    border-color: transparent #2b2b2b transparent transparent; /* Client Hidden */
  }
  .role-triangle[data-role="9"] {
    border-color: transparent #df2929 transparent transparent; /* Lost and Found */
  }
  .role-triangle[data-role="10"] {
    border-color: transparent #69482b transparent transparent; /* ATAK Tracker */
  }
  .role-triangle[data-role="11"] {
    border-color: transparent #008cff transparent transparent; /* Router Late */
  }
</style>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th colspan="2" scope="col">&nbsp;</th>
        <th colspan="2" scope="col">Název</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">Verze</th>
        <th scope="col">&nbsp;</th>
        <th colspan="3" scope="col">Poslední Pozice</th>
        <th scope="col">Počet</th>
        <th colspan="4" scope="col">Telemetrie</th>
        <th scope="col">Naposled</th>
        <th scope="col">&nbsp;</th>
      </tr>
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">ID</th>
        <th scope="col">Zkratka</th>
        <th scope="col">Celý Název</th>
        <th scope="col">HW</th>
        <th scope="col">FW</th>
        <th scope="col">Role</th>
        <th scope="col">M.n.M.</th>
        <th scope="col">Lat.</th>
        <th scope="col">Lon.</th>
        <th scope="col">Sousedů</th>
        <th scope="col"><img src="images/icons/battery.svg" style="height: 20px;" alt="Battery" title="Battery"></th>
        <th scope="col"><img src="images/icons/voltage.svg" style="height: 14px;" alt="Voltage" title="Voltage"></th>
        </th>
        <th scope="col"><img src="images/icons/up.svg" style="height: 14px;" alt="Air Util TX" title="Air Util TX"></th>
        </th>
        <th scope="col"><img src="images/icons/down.svg" style="height: 14px;" alt="Channel Util" title="Channel Util">
        </th>
        </th>
        <th scope="col">Slyšen před</th>
        <th scope="col">Majitel</th>
      </tr>
    <tbody>
      {% for id, node in nodes.items()|sort(attribute='1.short_name') %}
      {% if node.active or show_inactive %}
      <tr style="{% if not node.active %}opacity: 0.5;{% endif %}">
        <td class="p-0" style="width:45px;">
          <img src="https://mesh.aperturelab.cz/9.x/bottts-neutral/svg?seed={{ id }}" alt="Avatar"
            style="height: 45px; width: 45px;">
        </td>
        <td scope="col" class="position-relative">
          {% if id %}
          {% set id = id|replace('!', '') %}
          <a href='node_{{ id }}.html'>{{ id }}</a>
          {% else %}
          {{ id }}
          {% endif %}
          {% if node.position.geocoded %}
            {% set country = node.position.geocoded.split(',')[-1].strip() %}
            <img src="images/flags/{{ country }}.svg" alt="{{ country }}" title="{{ country }}"
                 style="position: absolute; bottom: 1px; left: 1px; height: 14px; width: auto;">
          {% endif %}
        </td>
        <td scope="col">
          {% if id %}
          {% set id = id|replace('!', '') %}
          <a href='node_{{ id }}.html'>{{ node.short_name }}</a>
          {% else %}
          {{ node.short_name }}
          {% endif %}
        </td>
        <td scope="col" class="position-relative">
          {{ node.long_name }}
          {% set node_image = id ~ '.jpg' %}
          {% if node_image | file_exists %}
            <a href="{{ 'nodes/' ~ node_image }}" target="_blank" class="position-absolute" style="bottom: 2px; right: 4px;">
            <img src="images/camera.svg" alt="Foto Uzlu" title="Foto uzlu" style="height: 16px;">
            </a>
          {% endif %}
        </td>
        <td scope="col" class="text-center">
          {% if node.hw_model and node.hw_model in meshtastic_support.HardwareModel._value2member_map_ %}
          {% if meshtastic_support.HardwareModel(node.hw_model) and meshtastic_support.HardwareModel(node.hw_model) in
          meshtastic_support.HARDWARE_PHOTOS %}
          <img
            src="images/hardware/{{ meshtastic_support.HARDWARE_PHOTOS[meshtastic_support.HardwareModel(node.hw_model)] }}"
            alt="{{ meshtastic_support.HardwareModel(node.hw_model).name }}"
            title="{{ meshtastic_support.HardwareModel(node.hw_model).name }}" style="width: 45px;">
          {% endif %}
          {% endif %}
        </td>
        <td scope="col">
          {% if node.firmware_version %}
            {% set version_parts = node.firmware_version.split('.') %}
            {% if version_parts|length > 3 %}
              {{ version_parts[0] }}.{{ version_parts[1] }}.{{ version_parts[2] }}<br>
              {{ version_parts[3] }}
            {% else %}
              {{ node.firmware_version }}
            {% endif %}
          {% endif %}
        </td>
        <td scope="col" style="vertical-align: middle;" class="text-center position-relative">
          {% if node.role is not none %}
            <span class="role-indicator" data-role="{{ node.role }}">
              {% if node.role == 0 %}
                <span title="Client">C</span>
              {% elif node.role == 1 %}
                <span title="Client Mute">CM</span>
              {% elif node.role == 2 %}
                <span title="Router">R</span>
              {% elif node.role == 3 %}
                <span title="Router Client">RC</span>
              {% elif node.role == 4 %}
                <span title="Repeater">RE</span>
              {% elif node.role == 5 %}
                <span title="Tracker">T</span>
              {% elif node.role == 6 %}
                <span title="Sensor">S</span>
              {% elif node.role == 7 %}
                <span title="ATAK">A</span>
              {% elif node.role == 8 %}
                <span title="Client Hidden">CH</span>
              {% elif node.role == 9 %}
                <span title="Lost and Found">LF</span>
              {% elif node.role == 10 %}
                <span title="ATAK Tracker">AT</span>
              {% elif node.role == 11 %}
                <span title="Router Late">RL</span>
              {% endif %}
            </span>
            <div class="role-triangle" data-role="{{ node.role }}"></div>
          {% endif %}
        </td>
        {% if node.position %}
        <td  scope="col">
          {% if node.position.altitude %}
          {{ node.position.altitude }} m
          {% endif %}
        </td>
        <td scope="col">{{ node.position.latitude or "" }}</td>
        <td scope="col">{{ node.position.longitude or "" }}</td>
        {% else %}
        <td scope="col"></td>
        <td scope="col"></td>
        <td scope="col"></td>
        {% endif %}
        {% if node.neighbors %}
        <td scope="col" class="text-center">{{ node.neighbors|length or "" }}</td>
        {% else %}
        <td  scope="col"></td>
        {% endif %}
        {% if node.telemetry %}
          <td scope="col">
            {% if 'battery_level' in node.telemetry %}
              {{ node.telemetry.battery_level }}%
            {% endif %}
          </td>
          <td scope="col">
            {% if 'voltage' in node.telemetry %}
              {% if node.telemetry.voltage is number %}
                {{ node.telemetry.voltage|round(2) }}V
              {% else %}
                {{ node.telemetry.voltage }}
              {% endif %}
            {% endif %}
          </td>
          <td scope="col">
            {% if 'air_util_tx' in node.telemetry %}
              {% if node.telemetry.air_util_tx is number %}
                {{ node.telemetry.air_util_tx|round(1) }}%
              {% else %}
                {{ node.telemetry.air_util_tx }}
              {% endif %}
            {% endif %}
          </td>
          <td scope="col">
            {% if 'channel_utilization' in node.telemetry %}
              {% if node.telemetry.channel_utilization is number %}
                {{ node.telemetry.channel_utilization|round(1) }}%
              {% else %}
                {{ node.telemetry.channel_utilization }}
              {% endif %}
            {% endif %}
          </td>
          {% else %}
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          <td scope="col"></td>
          {% endif %}
          <td scope="col" style="text-align: center;">
            {% if node.ts_seen %}
              {% set time_parts = utils.time_since(node.ts_seen).replace(',', '').split(' ') %}
              {% if time_parts|length > 1 %}
                {{ time_parts[0] }}<br>{{ time_parts[1] }}
              {% else %}
                {{ utils.time_since(node.ts_seen) }}
              {% endif %}
            {% endif %}
          </td>
          <td>
            {% if node.owner_username %}
            <a href="user_{{ node.owner_username }}.html">{{ node.owner_username }}</a>
            {% endif %}
          </td>
      </tr>
      {% endif %}
      {% endfor %}
    </tbody>
    </thead>
  </table>
</div>