{% set this_page = "nodes" %}
{% extends "layout.html.j2" %}

{% block title %}Uzly | MeshInfo{% endblock %}

{% block content %}
{% if latest %}
{% set lnodeid = utils.convert_node_id_from_int_to_hex(latest["id"]) %}
{% set lnode = nodes[lnodeid] %}
<div class="p-3 mt-1 fw-bold" style="background: #F9F9D7;">
  📌 Nejnovější detekovaný uzel je <a href="node_{{ lnodeid }}.html">{{ lnode.long_name }} ({{ lnode.short_name }})</a>
</div>
{% endif %}
<div class="container pt-3">
<h5>Uzly</h5>
<p>
  Je aktivních <b>{{ nodes.values() | selectattr('active') | list | length }}</b> uzlů z <b>{{ nodes|count }}</b>.
</p>
<p>
  <a href="allnodes.html">Zobrazit i neaktivní</a>
</p>
{% include 'node_table.html.j2' %}
</div>
{% endblock %}