{% extends "static/layout.html.j2" %}

{% block title %}Trasy{% endblock %}

{% block content %}
    <h1>Trasy</h1>
    <p>
      Cesty v meshi jak je viděl uzel <a href="node_{{ config['server']['node_id'] }}.html">{{ config['server']['node_id'] }}</a> ({{ config['server']['node_id'] }}).
    </p>
    <p>Last updated: {{ timestamp.astimezone(zoneinfo).strftime('%d.%m.%Y %H:%M:%S') }}</p>
{% endblock %}
